*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}
.icon-red{
    background-color: red;
}

.secton2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    height: 450px;
    padding-top: 200px;
    padding-bottom: 180px;
}
#illustration,#ui-design,#graphic-design{
padding: 10px;
}
/* svg items rounding css */
.rounding{
    color: white;
    padding: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}
#svg-1{
    background-color: red;
}
#svg-2{
    background-color: rgb(228, 189, 19);
}
#svg-3{
    background-color: rgb(55, 55, 255);
}

/* CSS for curves */
.custom-shape-divider-top-1647174480 {
    position: absolute;
    top: 690px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1647174480 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 158px;
}

.custom-shape-divider-top-1647174480 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1647175144 {
    position: absolute;
    bottom: -650px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1647175144 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 158px;
}

.custom-shape-divider-bottom-1647175144 .shape-fill {
    fill: #ffffff;
}
.svgs-size{
    width: 0.8rem;
    height: 0.8rem;
}
/* section 2 */
.fleximgs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img-items a img{
    margin-right: 28px;
    border-radius: 7px;
}
.img-items a{
    margin-bottom: 28px;
    display: block;
}
.img-items div{
  position: absolute;
    
}

.small{
    width: 290px;
    height: 250px;
}
.medium{
    height: 300px;
    width: 290px;
}
.large{
    height: 350px;
    width: 290px;
}
/* section 3 */
.section-3{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sec-3-flex{
    display: flex;
    justify-content: center;
    
}
.sec33{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 30%;
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 60px;

}
.sec33 img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
/* Footer */
footer{
    background-color: rgb(33, 40, 50);
    padding-top: 50px;
    padding-bottom: 30px;

}
.upper{
    background-color: rgb(33, 40, 50);
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 28px;
}
.items-foot{
    margin-left: 50px;
    margin-right: 50px;
}
.items-foot h7{
    font-weight: bold;
    font-size: 0.9rem;
}
.items-foot ul{
    list-style: none;
    margin: 20px 0px 0px -30px;
}
.items-foot ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;
}

.lower{
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
    margin-top: 28px;
}
@media screen and (max-width:700px){
    .secton2{
        flex-wrap:wrap;
        height: auto;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .custom-shape-divider-bottom-1647175144{
        bottom: -790px;
    }
    .upper{
        flex-direction: column;
    }
    .lower{
        flex-direction: column;
        margin-left: 50px; 
    }
    .items-foot{
        margin-top: 20px;
    }
    .fleximgs{
        flex-wrap: wrap;
    }
    .sec-3-flex{
        flex-direction: column;
    }
    .sec33{
        margin-left: auto;
        margin-right: auto;
    }
}